<?xml version="1.0"?>
<model>
    <name>CC Robot</name>
    <version>1.0</version>
    <sdf version="1.4">model.sdf</sdf>
    <author>
        <name>Chen Chen</name>
        <email>cchen37@gmu.edu</email>
    </author>

    <description>
        Robots are Awesome!!!! and this is a CC Robot
    </description>
</model>